.generictable__headlineRow{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-1.7361%;margin-left:-1.7361%}
@media(min-width:480px){.generictable__headlineRow{margin-right:-1.11605%;margin-left:-1.11605%}
}
@media(min-width:768px){.generictable__headlineRow{margin-right:-9px;margin-left:-9px}
}
@media(min-width:1024px){.generictable__headlineRow{margin-right:-9px;margin-left:-9px}
}
@media(min-width:1280px){.generictable__headlineRow{margin-right:-11px;margin-left:-11px}
}
@media(min-width:1440px){.generictable__headlineRow{margin-right:-14px;margin-left:-14px}
}
.generictable__headline{color:#333;padding-top:30px;padding-bottom:15px}
@media(max-width:479.98px){.generictable__headline{font-size:1.125rem;font-family:"MBCorpoSTitle-Regular-Web","DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.22222;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
}
@media(max-width:479.98px) and (min-width:768px){.generictable__headline{font-size:1rem;font-family:"MBCorpoSTitle-Regular-Web","DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
}
.pi__content .generictable__headline{position:relative;width:100%;padding-right:1.7361%;padding-left:1.7361%}
@media(min-width:480px){.pi__content .generictable__headline{padding-right:1.11605%;padding-left:1.11605%}
}
@media(min-width:768px){.pi__content .generictable__headline{padding-right:9px;padding-left:9px}
}
@media(min-width:1024px){.pi__content .generictable__headline{padding-right:9px;padding-left:9px}
}
@media(min-width:1280px){.pi__content .generictable__headline{padding-right:11px;padding-left:11px}
}
@media(min-width:1440px){.pi__content .generictable__headline{padding-right:14px;padding-left:14px}
}
@media(max-width:479px){.pi__content .generictable__headline{-webkit-box-flex:0;-ms-flex:0 0 calc(83.33333% + 6.9444%);flex:0 0 calc(83.33333% + 6.9444%);max-width:calc(83.33333% + 6.9444%);margin-left:calc(8.33333% - 3.4722%)}
.rtl .pi__content .generictable__headline{/*!rtl:begin:ignore*/margin-left:0;margin-right:calc(8.33333% - 3.4722%);/*!rtl:end:ignore*/}
}
@media(min-width:480px) and (max-width:767px){.pi__content .generictable__headline{-webkit-box-flex:0;-ms-flex:0 0 calc(83.33333% + 4.4642%);flex:0 0 calc(83.33333% + 4.4642%);max-width:calc(83.33333% + 4.4642%);margin-left:calc(8.33333% - 2.2321%)}
.rtl .pi__content .generictable__headline{/*!rtl:begin:ignore*/margin-left:0;margin-right:calc(8.33333% - 2.2321%);/*!rtl:end:ignore*/}
}
.pi__content .productinfofoldingtable .generictable__headline,.productinfofoldingtable .generictable__headline{margin-left:3.4722%}
@media(min-width:480px){.pi__content .productinfofoldingtable .generictable__headline,.productinfofoldingtable .generictable__headline{margin-left:2.2321%}
}
@media(min-width:768px){.pi__content .productinfofoldingtable .generictable__headline,.productinfofoldingtable .generictable__headline{margin-left:0}
}
@media(min-width:480px){.generictable__headline{font-size:1.125rem;font-family:"MBCorpoSTitle-Regular-Web","DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.22222;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding-top:40px;padding-bottom:20px}
}
.generictable__headline--darkBackground{color:#fff}
.generictable__baseRow{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-1.7361%;margin-left:-1.7361%}
@media(min-width:480px){.generictable__baseRow{margin-right:-1.11605%;margin-left:-1.11605%}
}
@media(min-width:768px){.generictable__baseRow{margin-right:-9px;margin-left:-9px}
}
@media(min-width:1024px){.generictable__baseRow{margin-right:-9px;margin-left:-9px}
}
@media(min-width:1280px){.generictable__baseRow{margin-right:-11px;margin-left:-11px}
}
@media(min-width:1440px){.generictable__baseRow{margin-right:-14px;margin-left:-14px}
}
.generictable__base{font-size:1.125rem;font-family:"MBCorpoSTitle-Regular-Web","DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.22222;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#333;background:#fff;position:relative;-ms-overflow-style:none;display:inline-block;position:relative;width:100%;padding-right:1.7361%;padding-left:1.7361%}
@media(min-width:480px){.generictable__base{padding-right:1.11605%;padding-left:1.11605%}
}
@media(min-width:768px){.generictable__base{padding-right:9px;padding-left:9px}
}
@media(min-width:1024px){.generictable__base{padding-right:9px;padding-left:9px}
}
@media(min-width:1280px){.generictable__base{padding-right:11px;padding-left:11px}
}
@media(min-width:1440px){.generictable__base{padding-right:14px;padding-left:14px}
}
@media(max-width:479px){.pi__content .generictable__base{-webkit-box-flex:0;-ms-flex:0 0 calc(83.33333% + 6.9444%);flex:0 0 calc(83.33333% + 6.9444%);max-width:calc(83.33333% + 6.9444%);margin-left:calc(8.33333% - 3.4722%)}
.rtl .pi__content .generictable__base{/*!rtl:begin:ignore*/margin-left:0;margin-right:calc(8.33333% - 3.4722%);/*!rtl:end:ignore*/}
}
@media(min-width:480px) and (max-width:767px){.pi__content .generictable__base{-webkit-box-flex:0;-ms-flex:0 0 calc(83.33333% + 4.4642%);flex:0 0 calc(83.33333% + 4.4642%);max-width:calc(83.33333% + 4.4642%);margin-left:calc(8.33333% - 2.2321%)}
.rtl .pi__content .generictable__base{/*!rtl:begin:ignore*/margin-left:0;margin-right:calc(8.33333% - 2.2321%);/*!rtl:end:ignore*/}
}
@media(max-width:479px){.layer__base .generictable__base{-webkit-box-flex:0;-ms-flex:0 0 calc(83.33333% + 6.9444%);flex:0 0 calc(83.33333% + 6.9444%);max-width:calc(83.33333% + 6.9444%);margin-left:calc(8.33333% - 3.4722%)}
.rtl .layer__base .generictable__base{/*!rtl:begin:ignore*/margin-left:0;margin-right:calc(8.33333% - 3.4722%);/*!rtl:end:ignore*/}
}
@media(min-width:480px) and (max-width:767px){.layer__base .generictable__base{-webkit-box-flex:0;-ms-flex:0 0 calc(83.33333% + 4.4642%);flex:0 0 calc(83.33333% + 4.4642%);max-width:calc(83.33333% + 4.4642%);margin-left:calc(8.33333% - 2.2321%)}
.rtl .layer__base .generictable__base{/*!rtl:begin:ignore*/margin-left:0;margin-right:calc(8.33333% - 2.2321%);/*!rtl:end:ignore*/}
}
@media(max-width:767.98px){.tabnav__base .generictable__base{padding-right:0;padding-left:0}
}
@media(max-width:767.98px){.pi__content .productinfofoldingtable .generictable__base,.productinfofoldingtable .generictable__base{margin-left:0;max-width:none;-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%}
}
.generictable__cellTxt{font-size:.875rem;font-family:"MBCorpoSTitle-Regular-Web","DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.28571}
@media(min-width:480px){.generictable__cellTxt{font-size:1rem;font-family:"MBCorpoSTitle-Regular-Web","DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
}
@media(min-width:480px) and (min-width:768px){.generictable__cellTxt{padding-top:.00912em;padding-bottom:.15788em;margin-top:-.375em;margin-bottom:-.375em}
}
.generictable__cellTxt .productinformation__bullet:first-child{padding-top:0}
.generictable__cellTxt .productinformation__bullet:first-child li:first-child{margin-top:0}
.generictable__matrixHeader{font-size:.875rem;font-family:"MBCorpoSText-Bold-Web","DaimlerCS-Demi",Helvetica,Arial,sans-serif;line-height:1.28571}
@media(min-width:480px){.generictable__matrixHeader{font-size:1rem;font-family:"MBCorpoSText-Bold-Web","DaimlerCS-Demi",Helvetica,Arial,sans-serif;line-height:1.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
}
.generictable__matrixTxt{font-size:.875rem;font-family:"MBCorpoSTitle-Regular-Web","DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.28571}
@media(min-width:480px){.generictable__matrixTxt{font-size:1rem;font-family:"MBCorpoSTitle-Regular-Web","DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
}
.generictable__navBtn{text-align:center;position:absolute;top:0;bottom:0;display:block;background:#fff;font-size:35px;z-index:1}
@media(min-width:768px){.generictable__navBtn{width:calc((768px - 714px )/ 2);/*!rtl:ignore*/left:calc(9px - (( 768px - 714px ) / 2))}
}
@media(min-width:1024px){.generictable__navBtn{width:calc((1024px - 918px )/ 2);/*!rtl:ignore*/left:calc(9px - (( 1024px - 918px ) / 2))}
}
@media(min-width:1280px){.generictable__navBtn{width:calc((1280px - 1154px )/ 2);/*!rtl:ignore*/left:calc(11px - (( 1280px - 1154px ) / 2))}
}
@media(min-width:1440px){.generictable__navBtn{width:calc((1440px - 1352px )/ 2);/*!rtl:ignore*/left:calc(14px - (( 1440px - 1352px ) / 2))}
}
@media(min-width:768px){.generictable__navBtn--right{/*!rtl:ignore*/right:calc(9px - (( 768px - 714px ) / 2));/*!rtl:ignore*/left:inherit}
}
@media(min-width:1024px){.generictable__navBtn--right{/*!rtl:ignore*/right:calc(9px - (( 1024px - 918px ) / 2));/*!rtl:ignore*/left:inherit}
}
@media(min-width:1280px){.generictable__navBtn--right{/*!rtl:ignore*/right:calc(11px - (( 1280px - 1154px ) / 2));/*!rtl:ignore*/left:inherit}
}
@media(min-width:1440px){.generictable__navBtn--right{/*!rtl:ignore*/right:calc(14px - (( 1440px - 1352px ) / 2));/*!rtl:ignore*/left:inherit}
}
.generictable .arrow{height:50px;position:relative;-webkit-transform:translateY(-50%);transform:translateY(-50%);top:50%;left:0;bottom:0;right:0;margin:auto;cursor:pointer}
@media(min-width:768px){.generictable .arrow{width:calc((768px - 714px )/ 2)}
}
@media(min-width:1024px){.generictable .arrow{width:calc((1024px - 918px )/ 2)}
}
@media(min-width:1280px){.generictable .arrow{width:calc((1280px - 1154px )/ 2)}
}
@media(min-width:1440px){.generictable .arrow{width:calc((1440px - 1352px )/ 2)}
}
.generictable__scrollingWrapper{overflow-y:auto;width:100%;margin-left:auto;margin-right:auto}
@media(min-width:768px){.generictable__scrollingWrapper{width:inherit;margin-left:inherit;margin-right:inherit;overflow:auto}
}
@media(min-width:768px){.generictable__scrollingWrapper--sideBySide{display:-webkit-box;display:-ms-flexbox;display:flex}
}
.generictable-is-sticky{position:absolute;background:#fff;overflow:hidden}
.generictable-is-sticky--corner{z-index:2;-webkit-box-shadow:2px 0 10px 0 rgba(0,0,0,0.2);box-shadow:2px 0 10px 0 rgba(0,0,0,0.2);top:0}
.generictable-is-sticky--column{z-index:2;-webkit-box-shadow:2px 0 10px 0 rgba(0,0,0,0.2);box-shadow:2px 0 10px 0 rgba(0,0,0,0.2)}
.generictable-is-sticky--header{z-index:10;-webkit-box-shadow:0 4px 3px -2px rgba(0,0,0,0.2);box-shadow:0 4px 3px -2px rgba(0,0,0,0.2)}
.generictable-is-sticky--header-wrapper{position:fixed;top:0;z-index:3;opacity:0;-webkit-transition:opacity .3s;transition:opacity .3s;height:0;overflow:hidden}
.generictable-is-sticky--header-wrapper.aem--is-active{opacity:1;height:130px;overflow:visible}
.generictable__tbl{width:100%;table-layout:fixed}
.generictable__headerRow{background:#fff;width:100%;margin-left:auto;margin-right:auto}
@media(min-width:768px){.generictable__headerRow{width:inherit}
}
.generictable__headerRow .generictable__headerCell,.generictable__headerRow .generictable__cell{font-size:1.125rem;font-family:"MBCorpoSTitle-Regular-Web","DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.22222;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding-top:24px;padding-right:20px;padding-bottom:9px;padding-left:0}
@media(min-width:480px){.generictable__headerRow .generictable__headerCell,.generictable__headerRow .generictable__cell{padding:20px 0 10px}
}
@media(min-width:768px){.generictable__headerRow .generictable__headerCell,.generictable__headerRow .generictable__cell{padding:20px;border:0}
}
.generictable__headerRow:not(:first-child) .generictable__headerCell,.generictable__headerRow:not(:first-child) .generictable__cell{padding-top:30px}
.generictable-is-sticky .generictable__headerRow{display:table;-webkit-box-sizing:border-box;box-sizing:border-box}
@media(min-width:768px){.generictable-is-sticky .generictable__headerRow{padding:0;display:-webkit-box;display:-ms-flexbox;display:flex;margin:0}
}
.generictable__stickyHeaderContainer{font-size:1.125rem;font-family:"MBCorpoSTitle-Regular-Web","DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.22222;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#333;margin-left:auto;margin-right:auto;max-width:1680px;width:90%}
@media(min-width:480px){.generictable__stickyHeaderContainer{width:93.33%}
}
.generictable__stickyHeaderRow{-webkit-box-shadow:0 0 7px 0 rgba(51,51,51,0.33);box-shadow:0 0 7px 0 rgba(51,51,51,0.33);position:fixed;top:0;z-index:10;background:#fff;width:inherit;padding-top:9px;padding-bottom:9px;opacity:0;-webkit-transition:opacity .3s;transition:opacity .3s}
@media(max-width:767.98px){.generictable__stickyHeaderRow{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
}
@media(min-width:480px){.generictable__stickyHeaderRow{padding-top:14px;padding-bottom:14px}
}
.aem--is-active>.generictable__stickyHeaderRow{opacity:1}
.generictable__stickyHeaderRowContent{position:relative;width:100%}
@media(max-width:479px){.generictable__stickyHeaderRowContent{-webkit-box-flex:0;-ms-flex:0 0 calc(83.33333% + 6.9444%);flex:0 0 calc(83.33333% + 6.9444%);max-width:calc(83.33333% + 6.9444%);margin-left:calc(8.33333% - 3.4722%)}
.rtl .generictable__stickyHeaderRowContent{/*!rtl:begin:ignore*/margin-left:0;margin-right:calc(8.33333% - 3.4722%);/*!rtl:end:ignore*/}
}
@media(min-width:480px) and (max-width:767px){.generictable__stickyHeaderRowContent{-webkit-box-flex:0;-ms-flex:0 0 calc(83.33333% + 4.4642%);flex:0 0 calc(83.33333% + 4.4642%);max-width:calc(83.33333% + 4.4642%);margin-left:calc(8.33333% - 2.2321%)}
.rtl .generictable__stickyHeaderRowContent{/*!rtl:begin:ignore*/margin-left:0;margin-right:calc(8.33333% - 2.2321%);/*!rtl:end:ignore*/}
}
.generictable__cell{display:block;vertical-align:top;padding-left:3.4722%;padding-right:3.4722%;padding-top:9px;padding-bottom:9px}
@media(min-width:480px){.generictable__cell{padding-left:2.2321%;padding-right:2.2321%;padding-top:14px;padding-bottom:14px}
}
@media(min-width:768px){.generictable__cell{padding:20px;display:table-cell;font-size:1rem;font-family:"MBCorpoSTitle-Regular-Web","DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.generictable__cell-is-header{font-family:"MBCorpoSText-Bold-Web","DaimlerCS-Demi",Helvetica,Arial,sans-serif;font-weight:bold}
.generictable-is-sticky .generictable__cell-is-header{float:none;position:relative;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
}
.generictable-is-sticky .generictable__cell{display:block}
.generictable__row--even{background:#f8f8f8}
@media(min-width:768px){.generictable__row--even{background:#fff}
}
.generictable__row--odd{background:#ececec}
@media(min-width:768px){.generictable__row--adapt,.generictable__row--sideBySide{display:table-row}
}
.generictable__headerCell,.generictable__cell{word-break:break-word}
.pi__content .productinfofoldingtable .generictable__headerCell,.productinfofoldingtable .generictable__headerCell,.pi__content .productinfofoldingtable .generictable__cell,.productinfofoldingtable .generictable__cell{width:100%;padding-left:3.4722%;padding-right:3.4722%}
@media(min-width:480px){.pi__content .productinfofoldingtable .generictable__headerCell,.productinfofoldingtable .generictable__headerCell,.pi__content .productinfofoldingtable .generictable__cell,.productinfofoldingtable .generictable__cell{padding-left:2.2321%;padding-right:2.2321%}
}
@media(min-width:768px){.pi__content .productinfofoldingtable .generictable__headerCell,.productinfofoldingtable .generictable__headerCell,.pi__content .productinfofoldingtable .generictable__cell,.productinfofoldingtable .generictable__cell{padding:20px}
}
@media(max-width:767.98px){.generictable__headerCell--noHeaderTableFirstCellInRow,.generictable__cell--noHeaderTableFirstCellInRow{display:block;margin-top:30px}
.generictable__headerCell--noHeaderTableFirstCellInRow:first-child,.generictable__cell--noHeaderTableFirstCellInRow:first-child{margin-top:0}
}
@media(min-width:768px){.generictable__base--layout-matrix .generictable__cell:first-child{padding:20px;border:0}
.generictable__base--layout-matrix .generictable__cell:first-child,.generictable__base--layout-matrix .generictable__cell:first-child>*{font-size:1rem;font-family:"MBCorpoSText-Bold-Web","DaimlerCS-Demi",Helvetica,Arial,sans-serif;line-height:1.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:bold}
.generictable__base--layout-matrix .generictable__cell:first-child span{display:inline-block;margin-top:-2px}
}
@media(max-width:767.98px){.generictable__cell{font-size:.875rem;font-family:"MBCorpoSTitle-Regular-Web","DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.28571}
}
.generictable__headerCell{overflow:hidden;font-weight:bold}
@media(max-width:767.98px){.generictable__headerCell{font-size:.875rem;font-family:"MBCorpoSText-Bold-Web","DaimlerCS-Demi",Helvetica,Arial,sans-serif;line-height:1.28571}
}
.generictable__headerCell,.generictable__cell{text-align:left}
.generictable__headerCell--center,.generictable__cell--center{text-align:center}
.generictable__headerCell--right,.generictable__cell--right{text-align:right}
.generictable--darkBackground,.generictable--darkBackground .generictable__navBtn{color:#fff}
.generictable--darkBackground,.generictable--darkBackground .generictable__navBtn,.generictable--darkBackground .generictable-is-sticky{background:#000}
.generictable--darkBackground .generictable__base{background:transparent}
.generictable--darkBackground .generictable-is-sticky--header{border-bottom:1px solid #494949}
.generictable--darkBackground .generictable-is-sticky--column{border-right:1px solid #494949;-webkit-box-shadow:2px 0 10px 0 rgba(0,0,0,0.2);box-shadow:2px 0 10px 0 rgba(0,0,0,0.2)}
.generictable--darkBackground .generictable__row--even{background:#242424}
.generictable--darkBackground .generictable__row--odd{background:#161616}
.generictable--darkBackground .generictable__matrixTxt{color:#ccc}
.generictable--darkBackground .generictable__headerRow{background:transparent}
@media(max-width:767.98px){.generictable--darkBackground .generictable__cell--noHeaderTableFirstCellInRow:first-child{margin-top:30px}
}
@media(min-width:768px){.generictable-has-navigation .generictable__wrapper{overflow:hidden;display:block;position:relative}
}
@media(min-width:768px){.generictable-has-navigation .generictable-is-sticky--header{left:0}
}
.pi__content>.generictable:first-child{padding-left:0;padding-right:0}